body{
    background-color: bisque;
}
#equilateral1  li{
    color:#008000;
}
#Isosceles1 li {
    color:#008000;
}
#Scalene1 li{
    color:#008000;
}
#equilateral{
    border-bottom: 100px;
    border-right: 100px;
    border-left: 100px;
}